@import "../../App.css";

.heroSection {
  margin-top: 2rem;
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
}

.pictureContainer {
  width: 35rem;
}

.profilePic {
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.pictureContainer {
  position: relative;
  overflow: hidden;
}

.circleBorder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: rotate 15s linear infinite;
}

.details {
  margin: 0 auto;
}

.name {
  font-size: 3rem;
}

.name span {
  color: var(--primary-color);
}

.role {
  margin-top: 0.5rem;
  font-size: 1.7rem;
  font-weight: 500;
}

.info a {
  border: 2px solid var(--primary-color);
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 0.7rem;
  border-radius: 50px;
  transition: all 0.2s ease-out;
}

.info {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}

.info a:hover {
  background-color: var(--primary-color);
  color: #000000;
  box-shadow: 0 0 55px var(--primary-color);
}

.typing {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation:
    typing 3s steps(17, end) forwards,
    blink 1.5s linear infinite;
  border-right: 2px solid var(--text-color);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 17ch;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1200px) {
  .name {
    font-size: 2.5rem;
  }
  .role {
    font-size: 1.5rem;
  }
  .info a {
    font-size: 1.1rem;
  }
  .pictureContainer {
    width: 30rem;
  }
}

@media screen and (max-width: 900px) {
  .name {
    font-size: 2rem;
  }
  .role {
    font-size: 1.2rem;
  }
  .info a {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 700px) {
  .name {
    font-size: 1.7rem;
  }
  .role {
    font-size: 1rem;
  }
  .info a {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 600px) {
  .heroSection {
    margin-top: 2rem;
    display: flex;
    flex-direction: column-reverse;
  }
  .name {
    font-size: 1.5rem;
  }
  .info {
    display: flex;
    justify-content: center;
  }
  .pictureContainer {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .name {
    font-size: 1.2rem;
  }
  .role {
    font-size: 0.8rem;
  }
  .info a {
    font-size: 0.5rem;
  }
}
