@import "../../App.css";

.aboutSection {
  overflow: hidden;
  min-height: 45rem;
}

.title {
  margin: 10rem 0 5rem 0;
  color: var(--text-color);
  font-size: 2.5rem;
  text-align: center;
}

.content {
  color: var(--text-color);
  font-size: 1.2rem;
}

.title span {
  color: var(--primary-color);
}

.contentSection {
  display: flex;
  max-width: 70rem;
  width: calc(100% - 4rem);
  align-items: center;
  margin: 0 auto;
  gap: 2rem;
}

.logo {
  height: 15rem;
  animation: rotate 20s linear infinite;
  transition: all 0.3s ease-in-out;
}

.logoContainer {
  display: inline-block;
}

.logoContainer:hover .logo {
  filter: drop-shadow(0 0 20px var(--primary-color));
  animation: rotate 2s linear infinite;
  cursor: pointer;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
