@import "../../App.css";

.header {
  display: flex;
  padding: 1rem 2rem;
  justify-content: space-between;
  align-items: center;
}

.header a span {
  color: var(--primary-color);
}

.header a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
  transition: all 0.3s linear;
}

.header :not(:first-child) a::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background-color: transparent;
  transition: all 0.3s linear;
}

.header nav {
  display: flex;
  gap: 3rem;
}

.header a:hover {
  color: var(--primary-color);
}

.header a:hover::after {
  width: 100%;
  background-color: var(--primary-color);
}

.hamburgerMenuIcon {
  display: none;
}

@media screen and (max-width: 900px) {
  .header a {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 750px) {
  .hamburgerMenuIcon,
  .hamburgerMenuClose {
    display: block;
    color: var(--text-color);
    font-size: 1.7rem;
  }

  .hamburgerMenuClose {
    margin-left: auto;
  }

  .header nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -50%;
    text-align: end;
    background-color: var(--bg-color);
    gap: 1rem;
    width: 50%;
    height: 100%;
    padding: 1rem 2rem;
    z-index: 3;
    transition: all 0.2s linear;
  }

  .header nav.clicked {
    right: 0%;
  }

  .header a:hover::after {
    width: 0%;
  }
  .header :not(:first-child) a {
    font-size: 1.1rem;
  }

  .header:first-child {
    font-size: 7rem;
  }
}
