@import "../../App.css";

footer div {
  color: var(--text-color);
  text-align: center;
  font-size: 1.2rem;
  padding: 1rem;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

footer div span {
  color: var(--primary-color);
}
