@import "../../App.css";

.footerSection div {
  background-color: var(--primary-fade);
  color: var(--text-color);
  text-align: center;
  font-size: 1.2rem;
  padding: 1rem;
  font-family:
    "trebuchet ms", "lucida sans unicode", "lucida grande", "lucida sans",
    arial, sans-serif;
}

.footerSection div span {
  color: var(--primary-color);
}

@media screen and (max-width: 600px) {
  .footerSection div {
    font-size: 1rem;
    padding: 1rem;
  }
}

@media screen and (max-width: 450px) {
  .footerSection div {
    font-size: 0.8rem;
    padding: 0.8rem;
  }
}
